@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 12px; /* Szerokość suwaka */
}

/* Stylizowanie tła suwaka */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Kolor tła */
  border-radius: 6px; /* Zaokrąglenie rogów */
}

/* Stylizowanie ruchomego elementu (kciuka) suwaka */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Kolor kciuka */
  border-radius: 6px; /* Zaokrąglenie rogów */
}

/* Stylizowanie kciuka suwaka podczas najechania */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Kolor kciuka podczas najechania */
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  /* background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%); */
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/19021593.jpg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* opacity: 0.4; */
  /* filter: invert(1); */
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}
.cart {
  @apply m-2 mb-4 flex w-full items-center rounded-xl bg-transparent p-2 font-bold text-white opacity-90;
}
.icon {
  @apply m-2 h-8 w-8 text-green-500;
}
.flex-center {
  @apply flex items-center justify-center;
}
.flex-between {
  @apply flex items-center justify-between;
}
.et_pb_divider_0:before,
.et_pb_divider_1:before {
  border-top-color: rgba(255, 255, 255, 0.24);
  border-top-style: dashed;
  border-top-width: 3px;
}

.et_pb_divider:before {
  content: "";
  width: 100%;
  height: 1px;
  border-top-color: #eee;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-top-width: 1px;
  border-top-style: solid;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.custom-divider {
  border-top-color: rgba(255, 255, 255, 0.24);
  border-top-style: dashed;
  border-top-width: 3px;
}
